:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(69deg, #f2e3db 0%, #E86A33 100%);
    background-repeat: no-repeat;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: #6C6C6C;
}

nav a:hover{
    color: #E86A33;
}

nav li:first-child {
    margin: 184px;  
    padding: 200px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  /* input,
  select,
  textarea,
  button {
    outline: 0;
  } */
  
  .main-container {
    position: relative;
    width: 440px;
    height: 195px;
    margin: 184px ;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
  }
  .text {
    position: relative;
    color: #181818;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
  }
  .text-2 {
    position: relative;
    color: #e86a33;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
  }
  .text-3 {
    position: relative;
    color: #181818;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
  }

.about-us {
    background-color: white;
}

.about-us :first-child {
    padding-top: 91px;
    margin-left: 196px;
    color: #E86A33;
}

.about-us :nth-child(2) {
    position: relative;
    width: 670px;
    height: 130px;
    margin-left: 196px;
    color: #181818;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

.about-us :nth-child(3) {
    width: 614px;
    height: 175px;
    margin-left: 196px auto;
    color: #181818;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}

.about-images {
    display: flex;
    height: 504px;
    top: 1341px;
    gap: 10px;
}

.about-images :first-child {
    width: 1088px;
    left: -4px;
    border-radius: 0px, 15px, 15px, 0px;
}

.about-images :nth-child(2) {
    width: 626px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px 0px 0px 15px;
}


@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}